{% extends "base.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Добро пожаловать</title>
    </head>
      <style>
   body {
    background: #053f38; /* Цвет фона веб-страницы */
    color: #98baba; /* Цвет текста */
    align="center"
    }


 h1 {
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 400%; /* Размер шрифта в процентах */
   }


    button{
       display:block;
       position: relative;
       margin: auto;
       background: #053f38;
            }


  </style>
    <body>
    <form action="/login">
        <h1 align="center">Добро пожаловать</h1>
        <button><img src="/static/img/button.png" alt="Кнопка «button»"></button>
    </form>
    </body>
</html>
{% endblock %}