{% extends "base.html" %}

{% block content %}
    <h1>Прогноз</h1>

    </nav>
        {% for key in keys %}
        <h2>{{key}}:   {{message[key]}}</h2>
        <br></br>
    {% endfor %}
    </form>
    <head>
  <meta charset="utf-8">
  <style>
   html { height: 100%; }
   body {
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background: url(static/img/345.jpg) repeat-y;; /* Цвет фона и путь к файлу */
    color: #E6E6FA; /* Цвет текста */
    background-size: cover; /* Фон занимает всю доступную площадь */
   }
  </style>
 </head>
</html>

{% endblock %}
</title>
</head>
<body>

</body>
</html>
